@charset "utf-8";

/*
	Title : Melon Web 4.x UI Common Template
	Create Date : 2017.05
	Author : mTechCrew
	Category : new(NEW)
*/

.wrap_tabmenu01 {margin-bottom: 40px;}
.service_list_video {margin-top: 35px;}